.block {
    background-color: aquamarine;
}

/*.block:hover{
    background-color: black;
}
*/
.hovered{
    background-color: black;
}

.grid {
    width: 500px;
    height: 500px;
    background-color: cadetblue;
    display: flex;
    flex-wrap: wrap;

}

.slider {
    width: 500px;
}